@charset "UTF-8";
/*---------------------Lista------------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
/*!-----------------------RESET----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'DM Serif Display', serif; }

/*!---------------------pseudoelementos/pseudocodigos----------*/
a:visited {
  /*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
  padding: 0px;
  background-color: white;
  color: #ff0571; }

header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: white; }
  header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    top: 0;
    z-index: 3;
    margin-bottom: 0px;
    margin-top: 15px; }
    header nav .logo-header {
      display: inline-block; }
      header nav .logo-header .img-logo {
        width: 200px;
        height: 100px;
        padding: 5px;
        text-align: right;
        background-color: white;
        margin-bottom: auto;
        margin: auto; }
    header nav .nav-menu {
      padding: 0px; }
      header nav .nav-menu .checkbtn {
        display: none; }
      header nav .nav-menu ul {
        display: flex;
        align-items: center;
        list-style: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 18px;
        text-align: center;
        margin-right: 8px;
        width: 100%; }
        header nav .nav-menu ul li {
          margin-right: 15px; }
          header nav .nav-menu ul li a {
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            padding: auto;
            margin: auto;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #ffa300;
            color: #b1ff05;
            background-color: white;
            margin-bottom: auto;
            margin: auto; }
            header nav .nav-menu ul li a:link {
              font-weight: bold;
              border-radius: 15%;
              padding: 15px;
              background-color: white;
              color: #ff0571; }
            header nav .nav-menu ul li a:visited {
              padding: 10px;
              background-color: #ffa300;
              color: white; }
            header nav .nav-menu ul li a:hover {
              color: #f8f8ff;
              font-weight: bold;
              padding: 20px;
              background-color: #fc026a;
              color: yellow; }
            header nav .nav-menu ul li a:active {
              /*Todos los elementos <a> cuando se está haciendo click sobre ellos*/
              background-color: yellow;
              font-weight: bold;
              padding: 20px;
              color: #ff0571; }

/*!---------------main---index----------------*/
.flex-container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ff0571; }
  .flex-container-hero h1 {
    color: #ff0571;
    font-family: cursive;
    font-style: italic;
    font-weight: 150;
    text-align: center;
    padding: 18px;
    background: #b1ff05;
    background: linear-gradient(24deg, rgba(177, 255, 5, 0.927609) 2%, #c6fd63 7%, #99f081 15%, #4bd9b5 25%, #cdff5e 80%, rgba(1, 196, 231, 0.854779) 100%);
    width: 100%;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .flex-container-hero .h2-h3-p {
    color: #f8f8ff;
    font-family: cursive;
    font-style: italic;
    font-weight: 125;
    text-align: center;
    padding: 10px;
    margin: 0%;
    margin-left: 15px;
    margin-right: 15px; }
  .flex-container-hero .video {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px;
    box-shadow: 4px 4px 15px 4px #ffff00; }
  .flex-container-hero .h3-2doclick {
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color: white;
    margin-left: 15px;
    margin-right: 15px; }

.flex-index-section1 {
  text-align: center;
  font-family: serif;
  font-style: italic;
  color: #f8f8ff;
  background-color: #01c4e7;
  background-size: cover;
  background-position: center;
  padding: 20px; }

.h2-index-flechas {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-style: normal;
  background-color: #b1ff05;
  color: #050b15;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

div {
  padding: 0px; }

.enlace-inscrip-virtual {
  display: inline-block;
  padding: auto;
  margin: auto;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffa300;
  color: #b1ff05; }
  .enlace-inscrip-virtual:link {
    font-weight: bold;
    border-radius: 15%;
    padding: 15px;
    background-color: white;
    color: #ff0571; }
  .enlace-inscrip-virtual:visited {
    padding: 10px;
    background-color: #ffa300;
    color: white; }
  .enlace-inscrip-virtual:hover {
    font-weight: bold;
    padding: 20px;
    background-color: #fc026a;
    color: yellow; }
  .enlace-inscrip-virtual:active {
    /*Todos los elementos <a> cuando se está haciendo click sobre ellos*/
    background-color: yellow;
    font-weight: bold;
    padding: 20px;
    color: #ff0571; }

.flex-container-section {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  color: white;
  background-position: center;
  background-color: #ff0571;
  width: 100%; }

.flex-container-h2 {
  color: #f8f8ff;
  font-family: cursive;
  font-style: italic;
  font-weight: 125;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px; }

.img-index-origen {
  display: flex;
  width: 60%;
  height: 25%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
  border: 2px;
  box-shadow: 4px 4px 15px 4px #f8f8ff;
  margin-bottom: 10px; }

.flex-container-iframe {
  padding: 12px;
  margin: 14px; }

/*!---------------main------origen----------------*/
.payasol-origen {
  text-align: center;
  font-family: serif;
  font-style: italic;
  color: #f8f8ff;
  background-color: #01c4e7;
  background-size: cover;
  background-position: center;
  padding: 20px; }

.h2-origen {
  background-color: #b1ff05;
  color: #050b15;
  width: 100%;
  margin: auto; }

.container-fluid {
  display: grid;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  color: lightgrey;
  background-position: center;
  background-color: #ff0571;
  background-size: cover;
  width: 100%; }
  .container-fluid .row d-flex {
    display: grid;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .container-fluid .col-lg-4 {
    border: auto;
    display: grid;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%; }
    .container-fluid .col-lg-4 .parrafos-payas {
      color: white;
      font-size: 15px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      width: 100%;
      font-weight: lighter;
      margin-top: 20px;
      margin-left: 20px;
      text-align: center;
      justify-content: center;
      align-items: center; }
  .container-fluid .col-lg-8 {
    width: 100%;
    border: auto;
    display: grid;
    justify-content: right;
    align-items: right;
    margin-top: 12px;
    margin-bottom: 12px; }
    .container-fluid .col-lg-8 .fotos-payas {
      border-radius: 20px;
      width: 550px;
      height: 500px;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      margin: 10px;
      box-shadow: 5px 5px 5px 5px lightgray; }

/*!---------------main---payamoment----------------*/
.payamomentos-sumate {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: serif;
  font-style: italic;
  color: lightgrey;
  background-color: #ff0571;
  background-size: cover;
  background-position: center;
  width: 100%; }

.h2-payamoment {
  background-color: #01c4e7;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  color: #050b15;
  font-size: xx-large;
  width: 100%;
  padding-bottom: 4px;
  padding-top: 2px;
  margin-top: 25px; }

.h3-payamoment {
  text-align: center;
  font-family: cursive;
  font-style: italic;
  color: white;
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 15px; }

p {
  text-align: center;
  font-family: cursive;
  font-style: normal;
  color: white;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 20px; }

.img-payamoment {
  display: flex;
  width: 60%;
  height: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
  border: 2px;
  box-shadow: 4px 4px 15px 4px #01c4e7;
  margin-bottom: 10px; }

/*!---------------main---payasol----------------*/
.payasol-origen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #01c4e7;
  color: #f8f8ff; }
  .payasol-origen .h2-payasol {
    background-color: #ff0571;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color: white;
    font-size: xx-large;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 2px; }
  .payasol-origen .h3-payasol {
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color: white;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 20px; }
  .payasol-origen .video-payasol {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px;
    box-shadow: 5px 5px 12px 5px #ff0571;
    margin-bottom: 24px; }
    .payasol-origen .video-payasol .p-payasol {
      text-align: center;
      font-family: cursive;
      font-style: normal;
      color: white;
      font-size: larger;
      margin-top: 10px;
      margin-bottom: 20px; }

/*!---------------main---sumate----------------*/
.flex-container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  color: white;
  background-position: center;
  background-color: #ff0571;
  background-position: center; }

.p-sumate {
  font-size: medium;
  text-align: center; }

.section-form {
  background-color: #01c5e7a2;
  color: #f8f8ff;
  font-family: cursive;
  font-style: italic;
  padding: 0 1.5em;
  width: 100%;
  height: 75%; }

.grid-container {
  width: 96%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20PX;
  padding: 1.5em;
  display: block; }

.h2-form {
  color: #ff0571;
  text-align: center;
  justify-content: center;
  margin-bottom: 22px; }

.grid-container-jr {
  box-shadow: 10px 10px 20px 10px #ff0571;
  border-radius: 16px;
  padding: 2em;
  width: 90%;
  height: 30%;
  margin: auto; }

.h3-grid {
  color: #050b15;
  text-align: center;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 15px; }

.grid-form {
  display: grid;
  background-color: #01c5e780;
  border-radius: 14px 14px 0 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70%;
  width: 100%; }

form {
  justify-content: center;
  align-items: center;
  text-align: center; }

p {
  margin: 0;
  padding: 1em; }

input {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #050b15;
  border-bottom: 1px solid #050b15; }

P {
  margin: 0;
  padding: 1em; }

.genero {
  display: flex;
  text-align: center;
  background-position: center;
  accent-color: #050b15;
  text-align: center; }

input {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #050b15;
  border-bottom: 1px solid #050b15;
  text-align: center;
  accent-color: #050b15; }

P {
  margin: 0;
  padding: 1em; }

input {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #050b15;
  border-bottom: 1px solid #050b15; }

P {
  margin: 0;
  padding: 1em; }

input {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #050b15;
  border-bottom: 1px solid #050b15; }

P {
  margin: 0;
  padding: 1em; }

input {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #050b15;
  border-bottom: 1px solid #050b15; }
  input P {
    margin: 0;
    padding: 1em; }
  input input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #050b15;
    border-bottom: 1px solid #050b15; }
  input .block {
    margin: 0;
    padding: 1em;
    grid-column: 1 / 3; }
  input .grid-form-button {
    width: 100%;
    padding: .7em;
    border: none;
    background-color: none;
    outline: 0;
    color: #050b15;
    border-bottom: 1px solid #050b15;
    text-transform: uppercase;
    border: 0; }

.grid-info {
  display: block;
  background-color: #01c4e7;
  margin: 0;
  padding: 1em;
  border-radius: 0 0 14px 14px; }
  .grid-info .h3-grid {
    color: #050b15;
    text-align: center;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 15px;
    font-size: large; }
  .grid-info .ul-grid {
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: small; }

.flex-container-h2 {
  margin-top: 20px;
  font-family: cursive;
  font-style: italic;
  font-size: x-large; }

.flex-container-iframe {
  border-radius: 4px;
  border: 1px;
  box-shadow: 3px 3px 20px 5px #f8f8ff;
  padding: 12px;
  margin: 14px; }

.flex-container-footer {
  width: 100%;
  border: radius 7px;
  box-shadow: 4px,2px,2px,4px,#f8f8ff;
  border: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 0px; }
  .flex-container-footer .footer-imagens {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px; }
    .flex-container-footer .footer-imagens a {
      display: inline-block;
      border-radius: 7px;
      padding: auto;
      margin: auto;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #ffa300; }
      .flex-container-footer .footer-imagens a:link {
        font-weight: bold;
        border-radius: 15%;
        padding: 15px;
        background-color: white;
        color: #ff0571; }
      .flex-container-footer .footer-imagens a:visited {
        padding: 10px;
        background-color: #ffa300;
        color: white; }
      .flex-container-footer .footer-imagens a:hover {
        font-weight: bold;
        padding: 20px;
        background-color: #fc026a;
        color: yellow; }
      .flex-container-footer .footer-imagens a:active {
        background-color: yellow;
        font-weight: bold;
        padding: 20px;
        color: #ff0571; }
    .flex-container-footer .footer-imagens .p-footer {
      font-style: italic;
      color: #050b15;
      padding-top: 2px;
      padding-bottom: 2px; }

@media (max-width: 719px) {
  header nav ul {
    width: 100%; }
  li a {
    width: 100%;
    font-size: x-small;
    justify-content: center;
    padding: auto;
    margin: 0px;
    text-align: center; }
    li a:visited {
      /*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
      padding: 0px;
      background-color: grey;
      color: #ff0571; } }

.flex-container-iframe {
  max-width: 85%;
  padding: 8px;
  margin: 10px; }

.container-fluid {
  width: 100%; }

.row d-flex {
  width: 50%; }

.col-lg-4 {
  width: 85%;
  display: flex;
  height: auto;
  scroll-padding-block: center; }

.col-lg-8 {
  width: 70%;
  display: flex;
  height: auto;
  justify-content: auto;
  align-items: center; }

.fotos-payas {
  border-radius: 20px;
  width: 500px;
  height: 450px;
  text-align: center;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px white; }

.parrafos-payas {
  color: white;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  justify-content: center; }

.footer-imagens {
  max-width: 75%; }

.flex-container-footer {
  height: auto;
  display: flex;
  scroll-padding-block: center;
  border-bottom: 4px;
  justify-content: auto;
  align-items: center;
  background-color: white; }

@media screen and (min-width: 721px), (max-width: 920px) {
  header nav.logo-header {
    display: flex;
    width: 100%;
    object-fit: cover;
    text-align: center;
    justify-content: center; }
  header nav .logo-header .img-logo {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    background-color: white;
    object-fit: cover;
    margin-top: 10px; }
  header nav .nav-menu .checkbtn {
    display: none; }
  .header nav ul {
    display: flex;
    width: 100%; }
  header nav ul li a {
    display: flex;
    width: 100%;
    font-size: small;
    text-align: center; } }

@media only screen and (max-width: 720px) {
  header nav .nav-menu ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 5px 15px yellow; }
  .header nav .nav-menu .checkbtn:checked ~ nav .nav-menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto; }
  .header nav .nav-menu .checkbtn + .checkbtn {
    display: block;
    position: fixed;
    top: 2px;
    left: 2px;
    cursor: pointer; }
  .header .checkbtn:checked ~ ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: left;
    align-items: center; }
  .header .checkbtn + .checkbtn .menu-icono img {
    width: 70px;
    height: 55px;
    margin: 15px auto;
    border-radius: 12px; }
  .header .checkbtn + .checkbtn .menu-icono img:hover {
    box-shadow: 0 0 12px #ffa300; }
  header nav ul li a {
    width: 100%;
    font-size: x-small;
    margin: 0;
    text-align: center; }
  .flex-container-hero .video {
    display: flex;
    width: 85%;
    height: 85%; }
  .payasol-origen .video-payasol {
    display: flex;
    width: 85%;
    height: 85%; }
  header nav .logo-header a {
    width: 100%;
    padding: 2px;
    text-align: center;
    justify-content: center; }
  header nav.logo-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover; } }
