@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/*!-----------------------RESET----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: 'DM Serif Display', serif;

}

/*!-----------------------HEADER---------------------*/
header{
    background-color:#ffff00e3;
}

h1{
    color: orange;
    font-family:cursive;
    font-style:italic;
    font-weight: 150;
    text-align: center;
    padding: 20px;
}


/*!---------------Esta parte se encuentra en el taller-----------no funcionaaaaa---------
h1::five-letter{
    color:deeppink;
    font-size: x-large;
    font-style: oblique;
    }
h1::first-letter{
    color:greenyellow;
    font-size: x-large;
    font-style: oblique;
    }
----------------------------------------------------------------------------------*/

header nav ul{
    list-style: none;
    }


header nav ul li{
    display: inline-block;

    }


header nav ul li a{
    text-decoration: none;
    font-family: cursive;
    font-style:italic;
    color:rgb(204, 202, 202)  ;
    }

/*!------------------------MAIN----------------------*/

.h2-h3-p{
    color: rgb(204, 202, 202);
    font-family:cursive;
    font-style:italic;
    font-weight: 125;
    text-align: center;
    padding: 10px;
    margin:0%

}

.h3-2doclick{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: azure;
}


.genero{
    display: inline-block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-position: center;
    background-size: cover;
}

input[type="text"],
input[type="nombre"],
input[type="email"],
input[type="radio"],
input[type="number"],
input[type="genero"],
input[type="edad"],
input[type="apellido"],
select{
    display: grid;
    width: 100%;
    padding: 5px;
    margin: 4px;
    padding-bottom: 2px;
    margin-bottom: auto;
    background-color: deeppink;
    color: rgb(204, 202, 202);
    border-radius: 1px;
    font-size: 22px;
    text-align: center;
    accent-color: rgb(204, 202, 202);

}

/*!----------------------MAIN DE PAYAMOMENTOS-SUMATE........*/
.payamomentos-sumate{
    text-align: center;
    font-family: serif;
    font-style: italic;
    color: rgb(255, 255, 224);
    color: ;
    background-color: deeppink;
    background-size: cover;
    background-position: center;
}
/*----------------------MAIN DE PAYASOL-ORIGEN-SUMATE 2DA.SECTION..............*/
.payasol-origen{
    text-align: center;
    font-family: serif;
    font-style: italic;
    color: rgb(255, 255, 224);
    background-color: cyan;  
    background-size: cover;
    background-position: center;
    padding: 20px;
    
}
/*!-----------------------FOOTER----------------------------------------------*/
footer{
    border:2px ;
    background-color:rgba(252, 250, 239, 0.918);
    
}


/*!-----------------------FLEX-CONTAINERS--------------------------------------*/

.flex-container{
    border: 10px;
    height: 100%;
    width: 100%;
    display:inline-block;
    overflow:auto;
    justify-content: space-evenly;
    align-items: center

}


.flex-container-nav-ul{
    padding-left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display:inline-block;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-align: center;
}

.flex-container-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: deeppink;
    

}
.flex-container-section{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(255, 255, 224);
    background-position: center;
    background-color: deeppink;
    background-position: center;

}

.flex-container-footer{
    height:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}
.flex-container-iframe{
    padding: 12px;
    margin: 14px;
}

/*!------------------------------------bootsrap------------------------------*/
.container-fluid{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(255, 255, 224);
    background-position: center;
    background-color: deeppink;
    background-position: center

}

.col-lg-4{
    border: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col-lg-8{
    border: auto;
    display: flex;
    justify-content:center;
    align-items: center;

}

/*----------------------------------GRID-CONTAINER------------------------------*/
.grid-container{    
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-column-gap: 0px;
    grid-template-rows: 100px 120px;
    grid-row-gap: 0px;       
}

.grid-form {
    display: flex;
    border: solid 2px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    border-radius: 3px;
    background-color: greenyellow;

}

.grid-form-bottom{
    color: rgb(255, 255, 224);
    background-color: greenyellow;
    padding: 2px;
    margin: 2px;
}

/*---------------pseudoclases---pseudoelementos----------------------------*/

/*Estilos base para los divs*/
div{
    padding:2px;
    }
/*Estilos base para los enlaces*/

a{ /*Todos los elementos <a>*/
    display:inline-block;
    padding:auto;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: orange;
    color:chartreuse;
}    

a:link{ /*Todos los elementos <a> que tengan un atributo href definido y no hayan sido visitados*/
    font-weight: bold;
    padding: 20px;
    background-color: lightskyblue;
    color: rgb(255, 255, 224);
}
a:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
    padding:10px;
    background-color:rgba(255, 255, 0, 0.363) ;    
    color: #fa058c96;
}
a:hover { /*Todos los elementos <a> cuando el mouse esté posicionado sobre ellos*/
    font-weight: bold;
    padding:20px;
    background-color: rgb(252, 2, 106);
    color: chartreuse;
}

a:active {/*Todos los elementos <a> cuando se está haciendo click sobre ellos*/
    background-color: rgb(255, 255, 7);
    font-weight: bold;
    padding:20px;
    color: rgba(99, 102, 102, 0.897);
}

/*!------------------------MEDIA QUERYS---------------------------------*/
/*!------------------------RESPONSIVE MOVIL----------------*/

@media (max-width:520px){
    .h3-2doclick{
        color:azure;
        font-family:Verdana, Tahoma, sans-serif ;      
    }

    .video{
        display: flex;
        width: 85%;
        height: 85%;
        
    }
    
    a:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
        padding: 0px;
        background-color:grey ;    
        color: #fa058c96;
    
        }
    
    .grid-container{
        display: grid;
        width: 100%;
        justify-content: center ;
        grid-template-columns: auto auto;
        grid-column-gap: 1px;
        grid-template-rows: auto auto;
        grid-row-gap: 1px;  
    }

    .grid-form{
        background-color: yellow;
        display: grid;  
        border: solid 0.5px;
        justify-content: center ;
        width: 100%;
        height: 100%;
        font-size: 15px;
        padding: 5px;
        margin: 0.1px; 
    }
    .grid-form-bottom{
        background-color: yellow;
        display: grid;
        width: 100%;
    }   

    #nombre{
        width: 75%;
        padding: auto;
        margin: auto;
        font-size: small;
        text-align: center;
    }
    #apellido{
        width: 75%;
        padding: auto;
        margin: auto;
        font-size: small;
        text-align: center;
    }
    #genero{
        width: 75%;
        padding: auto;
        margin: auto;
        text-align: center;
    }

    #edad{
        width:75%;
        padding: auto;
        margin: auto;
        text-align: center;
    }
    #email{
        width: 75%;
        padding: auto;
        margin: auto;
        font-size: x-small;
        text-align: center;
            }
    #celular{
        width: 75%;
        padding: auto;
        margin: auto;
        text-align: center;
    }
    #dni{
        width: 75%;
        padding: auto;
        margin: auto;
        text-align: center;
    }
    .flex-container-nav-ul{
        background-color: chartreuse;
        display: grid;
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    header nav ul{
        width: 100%;
    }
    header nav ul li a{
        width: 100%;
        font-size: x-small;
        justify-content: center;
        padding: auto;
        margin: 0px;
        text-align: center;
    }

    .flex-container-iframe{
        max-width: 85%;
        padding: 8px; 
        margin: 10px;      
    }

    .container-fluid{
        width: 100%;
    }
    .row d-flex{
        width: 50%;
    }
    .col-lg-4{
        width: 85%;
        display: flex;
        height: auto;
        scroll-padding-block: center;
        
    }
    .col-lg-8{
        width: 70%;
        display:flex;
        height: auto;
        justify-content:auto;
        align-items: center;
    }

    .footer-imagens{
        max-width: 80%;
    }
    .flex-container-footer{
        height: auto; 
        display: flex;
        scroll-padding-block: center;
        border-bottom: 4px;
        justify-content:auto;
        align-items: center;
    }
}
/*!-----------------------tablet-netbook-notebook--------------------------*/
@media screen and(min-width:720px), (max-width:920px){  
    .flex-container-nav-ul{
        width: 100%;
        text-decoration:solid;
        padding: auto;
        margin: 0px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style:italic;
        background-color: chartreuse;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        border-style: groove;
        border-color: cornsilk;
        } 
        a:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
            padding: 0px;
            background-color:chartreuse ;    
            color: #fa058c96;
        }
}