@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/*!-----------------------RESET----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: 'DM Serif Display', serif;

}

/*!-----------------------HEADER---------------------------*/

header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: white;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    top: 0;
    z-index: 3;
    margin-bottom: 0px;
    margin-top: 15px;
}

header nav .logo-header a {
    display: inline-block;
}

header nav .logo-header a img {
    width: 200px;
    height: 100px;
    padding: 5px;
    text-align: right;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    margin-right: 8px;
    
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #f8f8ff;
}
header .checkbtn {
    display: none;
}

/*!------------------------MAIN----------------------*/

h1{
    color: #ff0571;
    font-family:cursive;
    font-style:italic;
    font-weight: 150;
    text-align: center;
    padding: 18px;
    background-color: #b1ff05;
    width:100%;
}

.h2-h3-p{
    color: rgb(204, 202, 202);
    font-family:cursive;
    font-style:italic;
    font-weight: 125;
    text-align: center;
    padding: 10px;
    margin:0%

}

.h3-2doclick{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: white;
}


.genero{
    display: inline-block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-position: center;
    background-size: cover;
}

/*!----------------------MAIN DE PAYAMOMENTOS-SUMATE........*/
.payamomentos-sumate{
    text-align: center;
    font-family: serif;
    font-style: italic;
    color: lightgrey;
    background-color: hsl(334, 100%, 51%);
    background-size: cover;
    background-position: center;
}
/*----------------------MAIN DE PAYASOL-ORIGEN-SUMATE 2DA.SECTION..............*/
.payasol-origen{
    text-align: center;
    font-family: serif;
    font-style: italic;
    color: lightgrey;
    background-color: #01c4e7;  
    background-size: cover;
    background-position: center;
    padding: 20px;
    
}


/*!-----------------------FLEX-CONTAINERS--------------------------------------*/

.flex-container{
    border: 10px;
    height: 100%;
    width: 100%;
    display:inline-block;
    overflow:auto;
    justify-content: space-evenly;
    align-items: center;

}

.header-flex-logo{
    background-color: #f8f8ff;
    border: 10px;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}


.flex-container-nav-ul{
    padding-left: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display:inline-block;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-align: center;
}

.flex-container-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #ff0571;
    

}
.flex-container-section{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: white;
    background-position: center;
    background-color: #ff0571;
    background-position: center;

}
.flex-container-iframe{
    padding: 12px;
    margin: 14px;
}

.section-form{
    background-color:#01c5e7a2;
    color:#f8f8ff;
    font-family: cursive;
    font-style: italic;
    padding: 0 1.5em;
}

.h2-form{
    color:#ff0571;
    text-align: center;
    justify-content: center;
    margin-bottom: 22px;
}

.h3-grid{
    color:#050b15;
    text-align: center;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 15px;
}


.grid-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.grid-container-jr{
    box-shadow: 10px 10px 20px 10px #ff0571;
    border-radius: 16px;
}

.grid-container.jr > * {
    padding: 2em;
}
.grid-form{
    background-color: #01c5e780;
    border-radius: 14px 14px 0 0;
}
.grid-info{
    background-color: #01c4e7;
    margin: 0;
    padding: 1em;
    border-radius: 0 0 14px 14px;
}
.grid-form form p{
    margin: 0;
    padding: 1em;
}
.grid-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-form form .block{
    grid-column: 1 / 3;

}
.grid-form form button,
.grid-form form input{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color:#f8f8ff;
    border-bottom: 1px solid #050b15;
}

.grid-form form button{
    text-transform: uppercase;
    border:0;
}

.ul-grid{
    list-style: none;
    text-align: center;
    justify-content: center;
}


/*!------------------------------------bootsrap------------------------------*/
.container-fluid{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: lightgrey;
    background-position: center;
    background-color: #ff0571;
    background-position: center

}

.col-lg-4{
    border: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
    margin-bottom: 10px;

}

.col-lg-8{
    border:auto;
    display: flex;
    justify-content:right;
    align-items: right;
    margin-top: 10px;

}

.fotos-payas{
    border-radius: 20px;
    width: 550px;
    height: 500px;
    text-align: right;
    justify-content: right;
    object-fit: cover;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    }

.parrafos-payas{
    color:white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
    }


/*---------------pseudoclases---pseudoelementos----------------------------*/

/*Estilos base para los divs*/
div{
    padding:0px;
    }
/*Estilos base para los enlaces*/

a{ /*Todos los elementos <a>*/
    display:inline-block;
    padding:auto;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#ffa300;
    color:#b1ff05;
}    

a:link{ /*Todos los elementos <a> que tengan un atributo href definido y no hayan sido visitados*/
    font-weight: bold;
    border-radius: 15%;
    padding: 15px;
    background-color: white;
    color: #ff0571;
}
a:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
    padding:10px;
    background-color:#ffa300;  
    color: white;
}
a:hover { /*Todos los elementos <a> cuando el mouse esté posicionado sobre ellos*/
    font-weight: bold;
    padding:20px;
    background-color: rgb(252, 2, 106);
    color: yellow;
}

a:active {/*Todos los elementos <a> cuando se está haciendo click sobre ellos*/
    background-color: yellow;
    font-weight: bold;
    padding:20px;
    color: #ff0571;
}

a.img-logo{
    background-color: white;
    margin-bottom: auto;
    margin: auto;
}
/*!-----------------------FOOTER----------------------------------------------*/
footer{
    border:2px ;
    background-color:#f8f8ff;
    
}

.flex-container-footer{
    height:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}

/*!------------------------MEDIA QUERYS---------------------------------*/
/*!------------------------RESPONSIVE MOVIL----------------*/

@media (max-width:719px){
    .h3-2doclick{
        color:white;
        font-family:Verdana, Tahoma, sans-serif ;      
    }

    .video{
        display: flex;
        width: 85%;
        height: 85%;
        
    }
    
    a:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
        padding: 0px;
        background-color:grey ;    
        color: #ff0571;
    
        }
    
    .flex-container-nav-ul{
        background-color: #b1ff05;
        display: grid;
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    header nav ul{
        width: 100%;
    }
    header nav ul li a{
        width: 100%;
        font-size: x-small;
        justify-content: center;
        padding: auto;
        margin: 0px;
        text-align: center;
    }
    
        
    .flex-container-iframe{
        max-width: 85%;
        padding: 8px; 
        margin: 10px;      
    }

    .container-fluid{
        width: 100%;
    }
    .row d-flex{
        width: 50%;
    }
    .col-lg-4{
        width: 85%;
        display: flex;
        height: auto;
        scroll-padding-block: center;
        
    }
    .col-lg-8{
        width: 70%;
        display:flex;
        height: auto;
        justify-content:auto;
        align-items: center;
    }

    .footer-imagens{
        max-width: 75%;
    }
    .flex-container-footer{
        height: auto; 
        display: flex;
        scroll-padding-block: center;
        border-bottom: 4px;
        justify-content:auto;
        align-items: center;
        background-color: white;
    }
}

.fotos-payas{
    border-radius: 20px;
    width: 500px;
    height: 450px;
    text-align: center;
    justify-content: center;
    object-fit: cover;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px white;
    }

.parrafos-payas{
    color:white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align:center ;
    justify-content:center ;
    }


/*!-----------------------tablet-netbook-notebook--------------------------*/
@media screen and(min-width:721px), (max-width:920px){
    .flex-container-nav-ul{
        width: 100%;
        text-decoration:solid;
        padding: auto;
        margin: 0px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style:italic;
        background-color: #b1ff05;
        text-align: center;
        justify-content: space-evenly;
        align-content: center;
        border-style: groove;
        border-color: white;
        } 
    a:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
        padding: 0px;
        background-color:white;    
        color: #ff0571;
        }

        .header nav ul {
            display: flex;
            width: 100%;
        }
        
        .header .checkbtn {
            display: none;
        }

        header nav ul li a{
            display:flex;
            width: 100%;
            font-size: small;
            text-align: center;
        }
        .img-logo{
            display:flex;
            background-color: white;
            width: 200px;
            object-fit: cover;
            padding-top: 2px;
            margin-top: 10px;
            margin-left: 25px;
            
        }
        header nav .logo-header a img{
            width: 100%;
            padding: 10px;
            margin-left: 10px;
        }
        .logo-header{
            display: flex;
            width: 100%;
            object-fit: cover;
            text-align: center;
            justify-content: center;
            }
}
@media only screen and (max-width: 720px) {
    .header nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 2;
        box-shadow: 0px 5px 15px yellow;
    }

    .header .checkbtn:checked ~ nav ul {
        display: flex;
        flex-direction: column; 
        width: 100%;
        margin: auto;
    }

    .header .checkbtn + .checkbtn {
        display: block;
        position: fixed;
        top: 2px;
        left: 2px;
        cursor: pointer;
    }

    .header .checkbtn:checked ~ ul {
        display: flex; 
        flex-direction: column;
        justify-content: left;
        align-items: center; 
    }

    .header .checkbtn + .checkbtn .menu-icono img {
        width: 70px;
        height: 55px;
        margin:15px auto ;
        border-radius: 12px;
    }

    .header .checkbtn + .checkbtn .menu-icono img:hover {
        box-shadow: 0 0 12px #ffa300;
    }

    header nav ul li a{
        width: 100%;
        font-size: x-small;
        margin: 0;
        text-align: center;
    }
    .video{
        display: flex;
        width: 85%;
        height: 85%;
        
    }

    header nav .logo-header a img{
        width: 100%;
        padding: 2px;
        text-align: center;
        justify-content: center;
    }
    .logo-header{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        object-fit: cover;
    }

}




