@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/*!-----------------------RESET----------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: 'DM Serif Display', serif;

}

/*!---------------------pseudoelementos/pseudocodigos----------*/
a:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
    padding: 0px;
    background-color:white;    
    color: #ff0571;
    }