
@media (max-width:720px){
    header nav ul{
        width: 100%;
        }
        li a{
            width: 100%;
            font-size: x-small;
            justify-content: center;
            padding: auto;
            margin: 0px;
            text-align: center;
            &:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
                padding: 0px;
                background-color:grey ;    
                color: #ff0571;
            }
            }
}

    
    .flex-container-iframe{
        max-width: 85%;
        padding: 8px; 
        margin: 10px;      
    }

                .fotos-payas{
                    
                    border-radius: 20px;
                    width: 500px;
                    height: 450px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    object-fit: cover;
                    margin: 10px;
                    box-shadow: 2px 2px 2px 2px white;
                }
    
                .parrafos-payas{
                    color:white;
                    font-size: 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: lighter;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: 0;
                    margin-right: 0;
                    text-align:center ;
                    justify-content:center ;
                }
.container-fluid {
    display: grid;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color: lightgrey;
    background-position: center;
    background-color: #ff0571;
    background-size: cover;
    width: 100%;

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        align-content: center;
        justify-content: center;

    }

        .col-lg-4,
        .col-lg-8 {
            width: 100%;
            border: auto;
            display: grid;
            margin-left: 10px;
            margin-right: 10px;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            background-size: cover;
            background-position:center;
            padding: 2px;
}

            h3,
            .parrafos-payas,
            .fotos-payas {
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 100%; 
                height: auto;
                margin-top:5px;
                margin-bottom: 5px;
                margin-left: 5px;
                margin-right: 5px;
                background-size: cover;
                padding: 2px;
                background-size: cover;
                font-size: larger;
            }

            h3{
                background-color: rgba(255, 255, 0, 0.952);
                color: rgb(119, 116, 116);
                font-size: x-large;
                font-family: cursive;
                font-style: italic;
                padding: 2px;
                margin: auto;
                width: 100%;
            }
            
        }
    


    .footer-imagens{
        max-width: 75%;
    }
    .flex-container-footer{
        height: auto; 
        display: flex;
        scroll-padding-block: center;
        border-bottom: 4px;
        justify-content:auto;
        align-items: center;
        background-color: white;
    }

@media screen and (min-width:721px), (max-width:920px) {
header nav.logo-header{
    display: flex;
    width: 100%;
    object-fit: cover;
    text-align: center;
    justify-content: center;
}
    header nav .logo-header .img-logo{
        width: 100%;
        padding: 10px;
        margin-left: 10px;
        display:flex;
        background-color: white;
        object-fit: cover;
        margin-top: 10px;
}  

    header nav .nav-menu .checkbtn {
        display: none;
        }
    
        .header nav ul {
            display: flex;
            width: 100%;
        }

        header nav ul li a{
            display:flex;
            width: 100%;
            font-size: small;
            text-align: center;
            }

}
@media only screen and (max-width: 720px) {
    header nav .nav-menu ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 2;
        box-shadow: 0px 5px 15px yellow;
    }
    .header nav .nav-menu .checkbtn:checked ~ nav .nav-menu ul {
        display: flex;
        flex-direction: column; 
        width: 100%;
        margin: auto;
    }

    .header  nav .nav-menu .checkbtn + .checkbtn {
        display: block; 
        position: fixed;
        top: 2px;
        left: 2px;
        cursor: pointer;
    }
    .header  .checkbtn:checked ~ ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: left;
        align-items: center; 
    }

    .header .checkbtn + .checkbtn .menu-icono img {
        width: 70px;
        height: 55px;
        margin:15px auto ;
        border-radius: 12px;
    }

    .header .checkbtn + .checkbtn .menu-icono img:hover {
        box-shadow: 0 0 12px #ffa300;
    }

    header nav ul li a{
        width: 100%;
        font-size: x-small;
        margin: 0;
        text-align: center;
    }
    
    .flex-container-hero .video{
        display: flex;
        width: 85%;
        height: 85%;
        
    }

    .payasol-origen .video-payasol{
        display: flex;
        width: 85%;
        height: 85%;
        
    }

    header nav .logo-header a {
        width: 100%;
        padding: 2px;
        text-align: center;
        justify-content: center;
    }
    header nav.logo-header{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        object-fit: cover;
    }

}
    

@media screen and (min-width:320px), (max-width:580px){

.container-fluid {
    display: grid;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color: lightgrey;
    background-position: center;
    background-color: #ff0571;
    background-size: cover;
    width: 100%;

    .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    }
        .col-lg-4,
        .col-lg-8 {
            width: 100%;
            border: auto;
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: left;
            margin-top: 30px;
            margin-bottom: 10px;

        .parrafos-payas {
            color: white;
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            width: 100%;
            font-weight: lighter;
            margin-top: 20px;
            margin-left: 20px;
            text-align: center;
        }

        .fotos-payas {
            border-radius: 20px;
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: 10px;
            box-shadow: 5px 5px 5px 5px lightgray;
        }

        h3,
        .parrafos-payas,
        .fotos-payas {
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%; 
            height: auto;
            margin-top:5px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
            background-size: cover;
            padding: 2px;
            background-size: cover;
            font-size: small;
        }

        h3{
            background-color: rgba(255, 255, 0, 0.952);
            color: rgb(119, 116, 116);
            font-size: medium;
            font-family: cursive;
            font-style: italic;
            padding: 2px;
            margin: auto;
            width: 100%;
        }
        
        }

    }
}

@media screen and (min-width: 721px) {
.container-fluid {
    width: 100%;
        .row {
        grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 721px) and (max-width: 768px) {
.container-fluid {
        width: 100%; 
    }
}

    
    