
@media (max-width:719px){
    header nav ul{
        width: 100%;
        }
        li a{
            width: 100%;
            font-size: x-small;
            justify-content: center;
            padding: auto;
            margin: 0px;
            text-align: center;
            &:visited {/*Todos los elementos <a> que tengan un atributo href definido y ya hayan sido visitados*/
                padding: 0px;
                background-color:grey ;    
                color: #ff0571;
            }
            }
}

    
    .flex-container-iframe{
        max-width: 85%;
        padding: 8px; 
        margin: 10px;      
    }

    .container-fluid{
        width: 100%;
    }
        .row d-flex{
            width: 50%;
        }

            .col-lg-4{
                width: 85%;
                display: flex;
                height: auto;
                scroll-padding-block: center;
            }
            .col-lg-8{
                width: 70%;
                display:flex;
                height: auto;
                justify-content:auto;
                align-items: center;
            }

                .fotos-payas{
                    
                    border-radius: 20px;
                    width: 500px;
                    height: 450px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    object-fit: cover;
                    margin: 10px;
                    box-shadow: 2px 2px 2px 2px white;
                }
    
                .parrafos-payas{
                    color:white;
                    font-size: 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: lighter;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: 0;
                    margin-right: 0;
                    text-align:center ;
                    justify-content:center ;
                }


    .footer-imagens{
        max-width: 75%;
    }
    .flex-container-footer{
        height: auto; 
        display: flex;
        scroll-padding-block: center;
        border-bottom: 4px;
        justify-content:auto;
        align-items: center;
        background-color: white;
    }

@media screen and (min-width:721px), (max-width:920px) {
header nav.logo-header{
    display: flex;
    width: 100%;
    object-fit: cover;
    text-align: center;
    justify-content: center;
}
    header nav .logo-header .img-logo{
        width: 100%;
        padding: 10px;
        margin-left: 10px;
        display:flex;
        background-color: white;
        object-fit: cover;
        margin-top: 10px;
}  

    header nav .nav-menu .checkbtn {
        display: none;
        }
    
        .header nav ul {
            display: flex;
            width: 100%;
        }

        header nav ul li a{
            display:flex;
            width: 100%;
            font-size: small;
            text-align: center;
            }

}
@media only screen and (max-width: 720px) {
    header nav .nav-menu ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 2;
        box-shadow: 0px 5px 15px yellow;
    }
    .header nav .nav-menu .checkbtn:checked ~ nav .nav-menu ul {
        display: flex;
        flex-direction: column; 
        width: 100%;
        margin: auto;
    }

    .header  nav .nav-menu .checkbtn + .checkbtn {
        display: block; 
        position: fixed;
        top: 2px;
        left: 2px;
        cursor: pointer;
    }
    .header  .checkbtn:checked ~ ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: left;
        align-items: center; 
    }

    .header .checkbtn + .checkbtn .menu-icono img {
        width: 70px;
        height: 55px;
        margin:15px auto ;
        border-radius: 12px;
    }

    .header .checkbtn + .checkbtn .menu-icono img:hover {
        box-shadow: 0 0 12px #ffa300;
    }

    header nav ul li a{
        width: 100%;
        font-size: x-small;
        margin: 0;
        text-align: center;
    }
    
    .flex-container-hero .video{
        display: flex;
        width: 85%;
        height: 85%;
        
    }

    .payasol-origen .video-payasol{
        display: flex;
        width: 85%;
        height: 85%;
        
    }

    header nav .logo-header a {
        width: 100%;
        padding: 2px;
        text-align: center;
        justify-content: center;
    }
    header nav.logo-header{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        object-fit: cover;
    }

}
    
    
    
    
    